@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

@keyframes fadeZoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeZoom {
  animation: fadeZoom 1s ease-out forwards;
}
.pagination{
--swiper-pagination-color: #5F021F;
}

html,
body {
  min-height: 100%;
}

body::-webkit-scrollbar {
display: none;}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
